<%= form_with(model: sprintdiary, local: true) do |form| %>
  <% if sprintdiary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sprintdiary.errors.count, "error") %> prohibited this sprintdiary from being saved:</h2>

      <ul>
      <% sprintdiary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :surum_menber_id %>
    <%= form.text_field :surum_menber_id, id: :sprintdiary_surum_menber_id %>
  </div>

  <div class="field">
    <%= form.label :bdiary %>
    <%= form.text_field :bdiary, id: :sprintdiary_bdiary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
